@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

.container-fluid {
    flex:1;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(253, 225, 230) !important;
}
  
.navbar {
    background-color: rgb(238, 75, 26);
}

.nav-item {
    padding-left: 50px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto Slab';
}
  
.navbar img {
    width: 5%;
}

.links-api {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 141, 34);
}

.btn-primary {
    margin: 20px 20px 20px;
    background-color: rgb(255, 167, 182) !important;
    color: rgb(255, 43, 96) !important;
    border-color: rgb(255, 43, 96) !important;
    border-radius: 40px !important;
    border-width: 2px !important;
    font-weight: bold !important;
    font-size: 15px;
}

#searchInput {
    font-family: 'Source Sans Pro';
    font-size: 15px;
    border-color: rgb(255, 43, 96) !important;
    border-width: 2px;
    border-radius: 10px;
    padding: 7px 10px 7px; 
    width: 210px;
}

.movie {
    display: none;
    margin-bottom: 30px !important;
}  

#all-movie {
    display: none;
}

#movieDetails {
    display: flex;
}

#no-result {
    display: none;
}

#movie-title {
    font-size: 50px;
    font-family: 'Caprasimo';
    color: rgb(238, 75, 26);
}

#movie-year {
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: light;
    color: rgb(255, 141, 34);
}

#movie-director, #movie-actors, #movie-plot {
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 500;
    color: rgb(255, 141, 34);
}

#movie-plot {
    text-align: justify;
}

#movie-poster {
    width: 100%;
    margin-top: 5px;
}

footer {
    background-color: rgb(255, 43, 96) !important;
}

#footer-text {
    background-color:rgb(0, 124, 128);
    text-align: right;
    color: white;
    font-family: 'Roboto Slab';
    font-size: 15px;
    padding-right: 20px;
    padding-bottom: 10px;
}
